################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Selenium/v15
/.vs/SeleniumCSharp/v15/Server/sqlite3/db.lock
